#base {
	width: 400px;
	height: 180px;
	padding: 20px 10px 5px 30px;
}

#cv {
	position: relative;
	width: 200px;
	height: 20px;
	background-color: #FFF;
	border: 1px solid black;
	top: 0px;
	margin-bottom: 10px;
	left: 200px;
}

#power {
	position: relative;
	width: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
	left: 200px;
}

#board {
	position: relative;
	float: left;
}

.button {
	position: relative;
	top: 0px;
	left: 200px;
}

.message {
	position: relative;
	text-align: left;
}

#msgBlack {
	float: right;
}

#msgWhite {
	float: right;
}

.resultTable {
	padding: 0px 0px 0px 50px;
}

.row {
	width: 20px;
}

.result {
	display: block;
	width: 31px;
	height: 31px;
	background-color: #000000;
}

.square {
	position: absolute;
	width: 33px;
	height: 33px;
	background-color: #000000;
}

.block {
	display: block;
	position: relative;
	top: 1px;
	left: 1px;
	width: 31px;
	height: 31px;
}